.body {
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}

.item__list img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 250px;
}

.offcanvas img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 150px;
}

.item__item:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
}

.item__details {
    background-color: #fff;
}

.img__cart {
    margin-bottom: 15em;
}

.card-text {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

img {
    height: 100%;
    max-height: 400px !important;
}